<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel="stylesheet" href="../medias/css/bootstrap.css">
    <title>Document</title>
</head>
<body>
    <!--
        Vue.js允许你自定义过滤器，可以被用作一些常见的文本格式化，过滤器可以用在两个地方，mustache，插值和v-bind表达式。
        过滤器应该被添加在JavaScript表达式的尾部由管道符表示，“|”，过滤器的使用格式： {{ name | 过滤器名称 }}
    -->
    <div id='app'>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label for="">
                    ID: <input type="text" class='form-control' v-model="id">
                </label>
                <label for="">
                    <!--自定义按键的修饰符，只有当enter按下的时候才触发
                    .enter .tab .delete (捕获“删除”和“退格”键) .esc .space .up .down .left .right
                    这上面是现成提供的，但是没有提供的也是设置的，因为每个按键都有对应的键盘码
                    https://www.cnblogs.com/cnblogs-jcy/p/6409672.html
                    @keyup.113，代表的就是F2的按键，这个完全是可以你自己定义的，当然我们也可以为这个码实现别名的
                    -->
                    NAME: <input type="text" class='form-control' v-model='name' @keyup.f2='additem'>
                </label>
                <!--在vue中使用事件绑定机制，为元素指定处理函数的时候，如果加了小括号，就可以给函数传参了-->
                <input type="button" class="btn btn-success" value='添加' @click="additem">
                <label for="">搜索名称关键字
                    <input type="text" class='form-control' v-model='kw' v-focus v-color="'blue'">
                </label>
            </div>
        </div>

        <div v-fontWeight='900' v-fontsize='"100px"'>table-striped</div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>CTIME</th>
                    <th>OPT</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in search(kw)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{ item.ctime | dateFormat('') }}</td>
                    <!--为了避免刷新，要组织a标签的默认行为-->
                    <td><a href="" @click.prevent='delitem(item.id)'>删除</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js'></script>
    <script>

        // 定义过滤器【使用过滤器可以常见文本的格式化，用在两个地方mustache和v-bind】，对时间进行格式化；过滤器的名称，回调函数，回调函数的第一个参数就是我们传递的要操作的值
        // 过滤器的使用格式{{  name | filter1 }}
        // Vue.filter('过滤器的名称', function(date_msg){ })
        // 过滤器允许多次的调用，比如 {{  a | filter1 | filter2 | filter3 ………………}}
        Vue.filter('dateFormat', function (date_msg, pattern="") {
            // 如果是字符串的替换的话，可以使用replace方法进行替换，不仅如此还可以使用正则表达式。
            // 同时这个回调函数我可以传递多个参数，因此我们可以进行自由的替换。
            // 根据给定时间字符串返回对应的时间格式。
            var dt = new Date(date_msg)
            var y = dt.getFullYear()
            var m = dt.getMonth() + 1
            var d = dt.getDate()

            if(pattern.toLowerCase() === 'yyyy-mm-dd'){
                return `${y}-${m}-${d}`
            }else{
                var hh = dt.getHours()
                var mm = dt.getMinutes()
                var ss = dt.getSeconds()

                return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
            }
        })

        // 自定义全局按键修饰符，vue2.x的按键修饰符的定义方式，vue1.x的定义方式为Vue.directive('on').keyCode.f2 = 113，但是1.x的基本不会使用了。
        Vue.config.keyCodes.f2 = 113
        
        // 自定义元素的绑定：使用Vue.directive定义全局的指令v-focus
        // 其中参数1表示指令的名称，注意，在定义的时候，指令的名称前面不需要加v-的前缀
        // 但是：在调用的时候必须在指令前加上v-才能进行调用
        // 参数2是一个对象，这个对象身上，有一些
        Vue.directive('focus', {
            // bind: 指令只调用一次，指令第一次绑定到元素的时候调用，用这个钩子函数可以定义一个在绑定时执行一次的初始化动作
            // inserted：被绑定元素插入到DOM中的时候，会执行inserted函数，触发一次。
            // update：所在组件的vnode更新的时候调用，可能会触发多次。但是可能发生在其孩子的node更新之前，只能的值可能发生了改变也可能没有，但是你可以通过比较更新前后的值来忽略不必要的模板更新
            // componentUpdated：所在组件的Vnode及其孩子的Vnode全部更新的时候调用
            // unbind：只调用一次，指令与元素解绑的时候调用
            bind: function(el){
                // 注意在每一个函数中，第一个参数永远是el，表示被绑定了指令的那个元素，这个el参数是一个原生的js DOM对象。
                // 在元素刚绑定指令的时候，还没有插入到DOM中去，这个时候调用focus方法没有作用
                // 因为一个元素只有插入DOM后才能获取焦点，因为一开始都是在内存中的DOM树里面，还没有渲染，所以要执行focus得在插入的时候
                // 这里看一下虚拟DOM。bind是指的元素一加载就会调用bind，调用时机不一样，这个时候是在内存中进行调用的。
                // 傻傻分不清的话，那就都写到inserted里面去。
            },
            inserted: function(el){
                // 钩子函数的参数简要如下：
                // 1、el，绑定的DOM元素对象
                // 2、binding，一个对象，包含以下属性
                //    - name:属性名，不包括v-前缀
                //    - value：指令的绑定值，比如v-my-directive="1 + 1", value的值为2
                //    - oldValue：指定绑定的前一个值，仅在update和componentUpdated钩子中可用，无论值是否改变都可以用
                //    - expression：绑定值得字符串形式，比如v-my-direction="1+1",expression的值是1+1
                //    - arg：传给指令的参数，比如v-my-directive:foo，arg的值就是“foo”
                //    - modifiers：一个包含修饰符的对象，比如v-my-directive.foo.bar，修饰符对象modifiers的值是{foo：true，bar：true}
                // 3、vnode：Vue编译生成的虚拟节点
                // 4、oldVnode：上一个虚拟节点，仅在update和componentUpdated钩子中可用。
                el.focus()
            },
            updated: function(el){}
        })

        // 自定义一个设置字体颜色的指令
        Vue.directive('color', {
            bind: function(el, binding){
                // 为什么这里可以写到bind里面，因为不需要关心DOM有没有插入，因为只要样式解析了就可以，这个并不是一个JS的行为。
                // 所以样式的内容可以放到bind里，和JS行为有关的操作都在inserted里操作，防止操作不生效。
                // 注意时间绑定的时候v-color:"'blue'"，双引号里面有一个单引号，这样就是指的字符串，否则会找一个叫blue的变量。
                // binding这里就是个形式参数，你写啥都无所谓，所以你下面对应上就可以了。
                el.style.color = binding.value
            },
        })

        var app = new Vue({
            el: '#app',
            data: {
                id: null,
                name: null,
                kw: '',
                list:[
                    { id: 1, name: '奔驰', ctime: new Date()},
                    { id: 2, name: '宝马', ctime: new Date() },
                ]
            },
            methods: {
                additem(){
                    // 1.获取到id和name
                    // 2.组织出一个对象
                    // 3.把这个对象调用数组的相关方法，添加到data上的list中去
                    // 4.在vue中已经实现了数据的双向绑定，每当我们改了data的数据，vue会默认监听到数据的改动，然后自动把新的数据应用到页面上
                    this.list.push({
                        id: this.id,
                        name: this.name,
                        ctime: new Date()
                    });
                    this.id = this.name = null;
                },
                delitem(id){
                    // some() 方法用于检测数组中的元素是否满足指定条件（函数提供）。
                    // 如果有一个元素满足条件，则表达式返回true , 剩余的元素不会再执行检测。
                    // 如果没有满足条件的元素，则返回false。
                    // some方法不会对空数组进行检测，some不会改变原始数组
                    // array.some(function(currentValue, index, arr), thisvalue)
                    // currentValue必须，表示当前元素的值
                    // index当前元素的索引值，选填
                    // arr当前元素属于的数组对象，选填
                    // thisvalue，可选值对象作为该执行回调时使用，传递给函数，用作this的值
                    // 如果省略了thisvalue，this的值为undefined
                    // this.list.some((item, i) => {
                    //     if(item.id == id){
                    //         // 删除从i开始的索引的数据，删除长度为1，不插入数据
                    //         this.list.splice(i, 1)
                    //         // some方法中如果return true，就会立即中止这个数组的后续循环
                    //         return true
                    //     }
                    // })

                    // 或者使用新增的findindex方法
                    // let index  = this.list.findIndex(item => item.id === id)
                    var index = this.list.findIndex(item => {
                        if (item.id == id) {
                            return true
                        }
                    });
                    this.list.splice(index, 1);
                },
                search(kw){
                    // 在search内部进行for循环，把所有符合搜索关键字的数据取到。
                    // var newList = [];
                    // this.list.forEach(element => {
                    //    // 如果kw不匹配就会范围-1，如果kw为空字符串那么就会返回0
                    //    if(element.name.indexOf(kw) != -1){
                    //        newList.push(element);
                    //    } 
                    // });
                    // return newList

                    // 用filter这一种方法，说到的这些方法都是数组的新方法，都会对数组中的每一项进行遍历，执行相关的操作。
                    return this.list.filter(item => {
                        // ES6中提供了一个新方法，String.prototype.includes('要包含的字符串')，如果包含返回true，否则返回false
                        // 同时调研一个方法，字符串.contains。
                        if (item.name.includes(kw)){
                            return item
                        }
                    })
                }
            },
            // 定义的私有的多个过滤器，记住这里的filter是带s的，filter本身就是一个对象
            filters: {
                // 私有过滤器会优先调用内部的，然后再调用全局的，这里有一个就近原则，所以局部和全局的名称可以一致，调用的时候优先找自己内部的。
                dateFormat: function(date_msg, pattern=""){
                    var dt = new Date(date_msg)
                    var y = dt.getFullYear()
                    // padstart不足两位的可以进行填充，指定位数和填充物，对应的还有padEnd，比如6分的时候显示06而不是显示6.
                    var m = (dt.getMonth() + 1).toString().padStart(2, '0')
                    var d = dt.getDate()

                    if (pattern.toLowerCase() === 'yyyy-mm-dd') {
                        return `${y}-${m}-${d}`
                    } else {
                        var hh = dt.getHours().toString().padStart(2, '0')
                        var mm = dt.getMinutes().toString().padStart(2, '0')
                        var ss = dt.getSeconds().toString().padStart(2, '0')
                        return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
                    }
                }
            },
            directives: {
                // 自定义私有指令
                'fontweight': {
                    bind: function(el, binding){
                        el.style.fontWeight = binding.value;
                    }
                },
                'fontsize': function(el, binding){
                    // 这个function等同于把代码写到bind和update中去。注意这里的大小写，是fontSize，不是fontsize，用户传递的时候如果带px的话要带引号，比如"'50px'"，或者直接写数字就行。
                    el.style.fontSize = parseInt(binding.value) + 'px'
                }
            }
        })




    </script>
</body>
</html>